@import url("login.css");
@import url("categories.css");
@import url("search.css");

/* Body */
body{
    background-color: #fafafa;
}

/* Navigation */
.navBar {
    position: fixed;
    background-color: #281F58;
    height: 90px;
    max-height: 90px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    /* Sobra de una pagina que vi y me gusto xD */
    /* Ya no me gusto :´v */
    /* box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
    0px 4px 5px 0px rgba(0,0,0,0.14), 
    0px 1px 10px 0px rgba(0,0,0,0.12); */
}

/* Navs */
.items-group {/* father */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    /* overflow-y: auto;
    max-height: calc(100vh - 50px - 65px); */
}
.items-group li {
    position: relative;
    border-bottom: none;
    margin: 0;
    padding: 0;
    border: none!important;
    vertical-align: baseline; 
    height: 100%;
}
.items-group li a {
    display: flex;
    position: relative;
    /* bottom: 32px; */
    align-items: center;
    justify-content: center;
    color: #ffffff!important;
    font-family: Roboto, sans-serif;
    transition: all .25s ease-in-out,color .35s ease-in-out;
    font-size: 16px;
    font-weight: 500;
    height: 100%;

    border-bottom: 0px solid #9B51E0;
    border-top: 0px solid #9B51E0;
    border-radius: 2px;
    letter-spacing: 0;
    margin: 0px 0px;
    padding: 0px 15px;
}
.items-group li a:hover {
    cursor: pointer;
    color: #fff!important;
    font-weight: bold;
    border-bottom: 45px solid #9B51E0;
    border-top: 45px solid #9B51E0;
}
.items-group li a.active {
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-top: 45px solid #9B51E0;
    border-bottom: 45px solid #9B51E0;
}

/* Title Nav  VIOLETTA */
.title h2{
    font-family: cursive;
    padding: 0 32px;
    margin: 0;
}
.navBar .title a {
    color: #ffffff;
    text-decoration: none;
}
.navBar .title a:hover {
    color: coral!important;
    cursor: pointer;
}

/* Input Nav */
.navBar .input-search input{
    color: #ffffff;
    padding-left: 22px;
    border: none;
    width: 199px;
    height: 36px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 100px;
    outline: none;
}
.navBar .input-search input::placeholder{
    color: #ffffff;
}

/* Icons Nav */
.navBar .nav-icons{
    display: flex;
    padding: 0 24px 0 24px;
}
.navBar img {
    fill: #ffffff;
    height: 40px;
    width: 40px;
    padding: 4px;
    overflow: visible;
    border-radius: 5px;
    margin: 0 6px 0 6px;
    background-color: #281F58;
    transition: all .25s ease-in-out,color .25s ease-in-out;
}
.navBar img:hover {
    background-color: rgba(255, 255, 255, 0.212);
    fill: #ffffff;
    cursor: pointer;
}
.search-icon {
    display: none;
}
.toogle-icon {
    display: none;
}

/* margin top body */
.space-body {
    margin-top: 89px;
}

.style-collapse {
    position: absolute;
    top: 50px; 
    left: 0px; 
    right: 0px; 
    z-index: 1000;
}
.body-collapse {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);

    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}
.body-collapse form {
    display: flex;
    height: 50px;
    align-items: center;
}
.body-collapse input{
    width: 100%;
    height: 34px;
}

.body-collapse .btn {
    width: 85px;
    background-color: #514597;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.body-collapse .btn:hover {
    background-color: #281F58;
}



/*********************** HOME PAGE ***********************/

/* carousel image */
.bg-carousel {
    background: linear-gradient(-45deg, #514597 0%, #9B51E0 100%);
}
.img-carousel{
    height: 70vh;
    object-fit: scale-down;
    object-position: center center;
}
.carousel-indicators:hover{
    cursor: pointer;
}

/* category - body */
.scroll-horizontal{
    overflow: auto;
    white-space: nowrap;
}
.container-category {
    margin-top: 54px;
}
.container-category h1 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding-left: 32px;
}

/* item-category */
.card-item {
    width: 313px;
    height: 460px;
    background: #ffffff;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 12px 12px;
    display: inline-block;
}
.card-item:hover {
    cursor: pointer;
}
.card-item img {
    width: 100%;
    height: 405px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    background: violet;
}
.card-item .name-category p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #000000;
    padding-top: 12px;
    margin: 0;
    text-align: center;
}


/* footer */
.footer {
    margin-top: 163px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #281F58;
    width: 100%;
}
.footer h4 {
    color: #ffffff!important;
}
.footer p {
    color: #ffffff!important;
    padding-left: 25px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}
.footer .info-block{
    padding-left: 16px;
}
.social-icon-footer {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}
.social-icon-footer svg{
    padding: 3px;
    height: 38px;
    width: 38px;
    fill: #fff;
}
.social-icon-footer svg:hover{
    border-radius: 50%;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.212);
    fill: #ffffff;
}
  

/* creditos xD */
.footer .credit{
    margin-top: 105px;
    padding: 0px 15px;
}
.footer .line-credit{
    margin-top: 50px;
    height: 2px;
    width: 100%;
    background: #ffffff;
}
.footer .credits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between!important;
}
.footer .credit p{
    padding: 6px;
    margin: 0;
    font-size: 12px;
}

/* BREAKPOINT FOR RESPONSIVE */
/* Arreglo bug del collapse buscar */
@media (min-width: 960px){
    .body-collapse {
        display: none;
    }
}

@media (max-width: 960px) {
    /* arreglando la navigation */
    /* quitando las categorias */
    .items-group {
        display: none;
    }
    /* modificando la altura */
    .navBar {
        height: 50px;
        max-height: 50px;
        justify-content: space-between;
    }
    /* espaciado */
    .space-body {
        margin-top: 49px;
    }
    /* quitando el input */
    .navBar .input-search input {
        display: none;
    }
    /* arreglando los iconos */
    .navBar img {
        height: 35px;
        width: 35px;
        padding: 5px;
        /* margin: 0 6px 0 6px; */
    }
    .navBar .nav-icons{
        padding: 0;
    }
    .search-icon {
        z-index: 1050;
        display: block;
    }
    .search-icon img{
        z-index: 1050;
        display: block;
        margin: 0px!important;
    }
    .login-icon {
        display: none;   
    }
    .cart-icon {
        z-index: 1050;
    }
    .cart-icon img {
        margin: 0px 6px 0px 0px!important;
    }
    .toogle-icon {
        z-index: 1100;
        display: block;
    }
    /* arreglando el titulo */
    .title {
        position: absolute;
        width: 100%;
    }
    .title h2 {
        text-align: center;
        padding: 0;
    }
}